body{
    background-color: #9E4F17
}

h1{
    font-size: 300%;
    color: azure;
    text-align: center
}
.left{
    float: left;
    width: 19%; 
    margin-right: 2%; 
    padding: 20px; 
    box-sizing: border-box;
}
.centre{
    float: left; 
    width: 60%; 
    margin-right: 2%; 
    padding: 20px; 
    height: 1500px;
    background-image: url("Bilder/Bild2.jpg"); 
    box-sizing: border-box;
}
.right{
    float: left; 
    width: 19%; 
    margin-right: 2%; 
    padding: 20px; 
    box-sizing: border-box; 
    margin-right: 0; 
}